<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.MListDao">
    <insert id="saveMusic" >
        insert into music_list (mid,lid) values(#{param1},#{param2})
    </insert>

    <insert id="saveMList" parameterType="MList">
        insert into mlist (name,uid) values(#{name}, #{uid})
    </insert>

<!--    通过uid来查找用户创建的歌单-->
    <select id="findAllMList" resultType="MList">
        select * from mlist where uid=#{uid};
    </select>

    <select id="findByLid" resultType="Music">
        SELECT * FROM music
        WHERE id IN
              (
                  SELECT MID
                  FROM music_list
                  WHERE lid =#{lid}
              )
    </select>

    <update id="addSum" parameterType="mList">
        update mlist
        set sum =sum+1
        where id=#{id}
    </update>
</mapper>
